
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 224.1rem;
}.macbook-air-11-ftU {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-u9mm-dKW {
    display: flex;
    align-items: center;
    background-color: rgba(242, 181, 183, 0.400000006);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 11.2rem 0rem 0.8rem;
    width: 100%;

    .untitled19620231015170744-1-AaL {
      height: 15.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 169.3rem;
      width: 32.3rem;
    }
    .vector-HQ4 {
      margin-bottom: 1.7rem;
      width: 10.5rem;
      height: 9.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-taxs-26k {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 47.9rem 11.177rem 16.6rem 11.8rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-6taf-koS {
      margin-bottom: 35.3rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-nav-arrow-left-iEU {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 180.2rem;
        width: 10.4rem;
        height: 18.7rem;
        object-fit: contain;
      }
      .icon-nav-arrow-right-q4C {
        vertical-align: top;
        flex-shrink: 0;
        width: 10.523rem;
        height: 18.7rem;
        object-fit: contain;
      }
    }
    .lets-discover-your-personal-color-JiU {
      line-height: 1.1125;
      margin: 0rem 0rem 4.3rem 5.777rem;
      text-align: center;
      color: #9e6062;
      font-family: Crimson Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 700;
    }
    .auto-group-peu1-QmW {
      margin: 0rem 61.823rem 0rem 67.2rem;
      line-height: 1.2125;
      align-items: center;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:31:711');
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      width: calc(100% - 129.023rem);
      font-size: 3.5rem;
      justify-content: center;
      border-radius: 10rem;
      background-position: center;
      height: 10.4rem;
      text-align: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      background-color: #e19dac;
      background-size: cover;
    }
  }
}
