
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 224.1rem;
}.macbook-air-19-yYk {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-hayr-hje {
    align-items: center;
    background-color: rgba(242, 181, 183, 0.400000006);
    flex-shrink: 0;
    margin-bottom: 14.4rem;
    box-sizing: border-box;
    padding: 1rem 10.4rem 0rem 0.8rem;
    width: 100%;
    display: flex;

    .untitled19620231015170744-1-qL4 {
      margin-right: 170.1rem;
      width: 32.3rem;
      height: 15.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-N56 {
      margin-bottom: 1rem;
      width: 10.5rem;
      height: 9.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .heres-the-result-JUY {
    margin: 0rem 0rem 53.6rem 3.3rem;
    font-weight: 700;
    line-height: 1.1125;
    font-family: Crimson Pro, 'Source Sans Pro';
    text-align: center;
    font-size: 6.5rem;
    color: #9e6062;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .your-skintone-is-a-cool-and-here-you-can-check-the-color-jpk {
    margin-left: 0.1rem;
    max-width: 70.2rem;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.1125;
    color: #9e6062;
    font-family: Crimson Pro, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .auto-group-jzxb-3aY {
    padding: 5.7rem 15.8rem 25.5rem 9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-7tz7-ait {
      margin-bottom: 3.2rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .choose-brands-vnk {
        margin-right: 2.1rem;
        text-align: center;
        color: #9e6062;
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.1125;
        font-family: Crimson Pro, 'Source Sans Pro';
      }
      .rectangle-17-p7S {
        margin-top: 0.2rem;
        width: 175.2rem;
        height: 8.6rem;
        background-color: #9e6062;
        border-radius: 3rem;
        flex-shrink: 0;
      }
    }
    .auto-group-tbtx-M7N {
      background-color: #e19dac;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 0rem 16.1rem 24.1rem;
      box-sizing: border-box;
      padding: 0rem 1.5rem 1.9rem 2.3rem;
      width: 175.2rem;

      .auto-group-a6qh-f84 {
        margin-bottom: 0.7rem;
        width: 100%;
        display: flex;
        align-items: flex-end;

        .auto-group-nqxy-BMJ {
          width: 167.5rem;
          height: 10.3rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2rem 1.1rem 0rem;

          .line-1-tFi {
            top: 9.8rem;
            background-color: #ffffff;
            width: 163.9rem;
            height: 0.1rem;
            position: absolute;
            left: 3.6rem;
          }
          .uniqlo-RWY {
            white-space: nowrap;
            position: absolute;
            left: 11.3rem;
            font-size: 5rem;
            text-align: center;
            font-weight: 700;
            line-height: 1.1125;
            color: #ffffff;
            font-family: Crimson Pro, 'Source Sans Pro';
            width: 18.1rem;
            height: 5.6rem;
            top: 2.4rem;
          }
          .ecb98fa32ae670f64e70c784a56f3-1-LdW {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 13.5rem;
            height: 10.3rem;
          }
        }
        .rectangle-20-UDv {
          height: 9.9rem;
          background-color: #ffffff;
          border-radius: 3rem;
          flex-shrink: 0;
          width: 1.9rem;
        }
      }
      .no-more-brands-bZS {
        font-family: Crimson Pro, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1125;
        color: #ffffff;
      }
    }
    .auto-group-zils-71z {
      flex-shrink: 0;
      margin: 0rem 5.1rem 14.4rem 15.2rem;
      width: calc(100% - 20.3rem);
      display: flex;
      column-gap: 33.1rem;
      align-items: center;

      .rectangle-24-RoN {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-25-NCp {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-26-Ktk {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-q2sm-H4t {
      flex-shrink: 0;
      margin: 0rem 5.1rem 20.1rem 15.2rem;
      width: calc(100% - 20.3rem);
      display: flex;
      column-gap: 33.1rem;
      align-items: center;

      .rectangle-27-xB2 {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-28-iAC {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-29-T7n {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-yz6b-nfr {
      margin: 0rem 5.1rem 16.1rem 15.2rem;
      width: calc(100% - 20.3rem);
      display: flex;
      column-gap: 33.1rem;
      align-items: center;
      flex-shrink: 0;

      .rectangle-30-X7e {
        flex-shrink: 0;
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
      }
      .rectangle-31-shJ {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-32-qPE {
        width: 37.6rem;
        height: 29.7rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-ugs7-Bhz {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:136:50');
      flex-shrink: 0;
      margin: 0rem 58.6rem 0rem 68.6rem;
      width: calc(100% - 127.2rem);
      background-color: #e19dac;
      border-radius: 10rem;
      background-size: cover;
      text-align: center;
      font-weight: 400;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10.4rem;
      font-size: 3.5rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
