
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 224.1rem;
}.macbook-air-15-dYU {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-itwh-PGk {
    align-items: center;
    background-color: rgba(242, 181, 183, 0.400000006);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 11.2rem 0rem 0.8rem;
    width: 100%;
    display: flex;

    .untitled19620231015170744-1-8EL {
      margin-right: 169.3rem;
      width: 32.3rem;
      height: 15.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-EYG {
      width: 10.5rem;
      height: 9.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
    }
  }
  .auto-group-p6zf-kmW {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 47.9rem 11.177rem 16.6rem 11.8rem;

    .auto-group-2qbd-sbE {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 31.2rem;
      width: 100%;
      display: flex;

      .icon-nav-arrow-left-1SY {
        flex-shrink: 0;
        margin-right: 180.2rem;
        width: 10.4rem;
        height: 18.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-nav-arrow-right-wqz {
        width: 10.523rem;
        height: 18.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .choose-one-that-suit-with-your-undertone-Hex {
      max-width: 55.1rem;
      font-size: 4rem;
      line-height: 1.1125;
      color: #9e6062;
      flex-shrink: 0;
      margin: 0rem 0rem 4rem 5.377rem;
      text-align: center;
      font-weight: 700;
      font-family: Crimson Pro, 'Source Sans Pro';
    }
    .auto-group-dzux-b9r {
      font-weight: 400;
      color: #ffffff;
      background-color: #e19dac;
      background-position: center;
      background-image: url('REPLACE_IMAGE:31:780');
      flex-shrink: 0;
      font-size: 3.5rem;
      background-repeat: no-repeat;
      width: calc(100% - 129.023rem);
      height: 10.4rem;
      text-align: center;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin: 0rem 61.823rem 0rem 67.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      border-radius: 10rem;
      background-size: cover;
    }
  }
}
