
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 224.1rem;
}.macbook-air-4-QZW {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-hbns-xb2 {
    background-color: rgba(242, 181, 183, 0.400000006);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 11.2rem 0rem 0.8rem;
    width: 100%;
    display: flex;
    align-items: center;

    .untitled19620231015170744-1-tzU {
      height: 15.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 169.3rem;
      width: 32.3rem;
    }
    .vector-EHe {
      margin-bottom: 1.7rem;
      width: 10.5rem;
      height: 9.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-crsd-mHa {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.6rem 28.2rem 30.6rem 28.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-xvkm-Hmi {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-right: 32.7rem;
      width: calc(100% - 32.7rem);

      .login-with-email-e6U {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 27.6rem 2.4rem 0rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .untitled19620231015170744-2-WeU {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 93.5rem;
        height: 37.1rem;
      }
    }
    .find-your-color-based-on-your-undertone-qgk {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 8.5rem 1.6rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.1125;
      color: #ad5e61;
      font-family: Crimson Pro, 'Source Sans Pro';
    }
    .auto-group-1qx7-MQC {
      box-sizing: border-box;
      padding: 3.1rem 7.7rem;
      background-color: #e19dac;
      border-radius: 10rem;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:31:621');
      margin: 0rem 45.3rem 4.2rem 50.3rem;
      background-repeat: no-repeat;
      flex-shrink: 0;
      width: calc(100% - 95.6rem);

      .vector-TTE {
        width: 5.9rem;
        height: 4.2rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-tbm5-x96 {
      padding: 3.118rem 8.574rem 3.116rem 8.574rem;
      border-radius: 10rem;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:31:619');
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 95.6rem);
      background-color: #e19dac;
      background-repeat: no-repeat;
      margin: 0rem 45.3rem 4.2rem 50.3rem;

      .iconsax-linear-key-3AY {
        width: 4.7509rem;
        height: 4.1658rem;
        object-fit: contain;
        vertical-align: top;
        margin-right: 50.2003rem;
      }
    }
    .auto-group-ay5q-Wpp {
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      font-size: 3.5rem;
      white-space: nowrap;
      background-size: cover;
      margin: 0rem 45.3rem 4.2rem 50.3rem;
      color: #ffffff;
      justify-content: center;
      border-radius: 10rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      font-family: Inter, 'Source Sans Pro';
      background-color: #e19dac;
      background-image: url('REPLACE_IMAGE:31:617');
      flex-shrink: 0;
      width: calc(100% - 95.6rem);
      height: 10.4rem;
      line-height: 1.2125;
    }
    .forgot-password-tKa {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.7rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
    }
  }
}
