
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 224.1rem;
}.macbook-air-3-Tv8 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.macbook-air-3-Tv8 .auto-group-pay3-DuJ {
  box-sizing: border-box;
  padding: 1rem 11.2rem 0rem 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(242, 181, 183, 0.400000006);
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-pay3-DuJ .untitled19620231015170744-1-xrt {
  margin-right: 169.3rem;
  width: 32.3rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-pay3-DuJ .vector-5gc {
  margin-bottom: 1.7rem;
  width: 10.5rem;
  height: 9.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q {
  box-sizing: border-box;
  padding: 9.6rem 28.2rem 15.4rem 28.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-swao-ggQ {
  margin-right: 32.7rem;
  width: calc(100% - 32.7rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-swao-ggQ .login-with-email-drY {
  margin: 0rem 27.6rem 2.4rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-swao-ggQ .untitled19620231015170744-2-LFA {
  width: 93.5rem;
  height: 37.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .find-your-color-based-on-your-undertone-SZ6 {
  margin: 0rem 0rem 7.2rem 1.6rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1125;
  color: #ad5e61;
  font-family: Crimson Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-g6pu-j2Q {
  margin: 0rem 46rem 4.5rem 49.6rem;
  box-sizing: border-box;
  padding: 3.225rem 8.192rem 3.425rem 8.192rem;
  width: calc(100% - 95.6rem);
  background-color: #e19dac;
  border-radius: 10rem;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-g6pu-j2Q .iconsax-linear-personalcard-Ejr {
  margin-right: 50.8rem;
  width: 4.9167rem;
  height: 3.75rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-x2hz-9bv {
  margin: 0rem 46rem 4.3rem 49.6rem;
  box-sizing: border-box;
  padding: 3.2rem 7.7rem 3rem 7.7rem;
  width: calc(100% - 95.6rem);
  background-color: #d9d9d9;
  border-radius: 10rem;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-x2hz-9bv .vector-4yn {
  width: 5.9rem;
  height: 4.2rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-amw3-PWG {
  margin: 0rem 46rem 4.2rem 49.6rem;
  box-sizing: border-box;
  padding: 3.118rem 8.574rem 3.116rem 8.574rem;
  width: calc(100% - 95.6rem);
  background-color: #e19dac;
  border-radius: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-13-GsS.png');
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-amw3-PWG .iconsax-linear-key-tC8 {
  margin-right: 50.2003rem;
  width: 4.7509rem;
  height: 4.1658rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .auto-group-lk1m-984 {
  margin: 0rem 46rem 5.7rem 49.6rem;
  width: calc(100% - 95.6rem);
  height: 10.4rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e19dac;
  border-radius: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-aKa.png');
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .did-you-have-account-login-aDN {
  margin-left: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .did-you-have-account-login-aDN .did-you-have-account-login-aDN-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .did-you-have-account-login-aDN .did-you-have-account-login-aDN-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.macbook-air-3-Tv8 .auto-group-qpz7-p8Q .did-you-have-account-login-aDN .did-you-have-account-login-aDN-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
