
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 224.1rem;
}.macbook-air-17-mYc {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.macbook-air-17-mYc .auto-group-blip-hBN {
  margin-bottom: 14.4rem;
  box-sizing: border-box;
  padding: 1rem 10.4rem 0rem 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(242, 181, 183, 0.400000006);
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-blip-hBN .untitled19620231015170744-1-1C4 {
  margin-right: 170.1rem;
  width: 32.3rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-blip-hBN .vector-jdr {
  margin-bottom: 1rem;
  width: 10.5rem;
  height: 9.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-air-17-mYc .heres-the-result-UbS {
  margin: 0rem 0rem 53.6rem 3.3rem;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.1125;
  color: #9e6062;
  font-family: Crimson Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-17-mYc .your-skintone-is-a-cool-and-here-you-can-check-the-color-PCc {
  margin-left: 0.1rem;
  max-width: 70.2rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1125;
  color: #9e6062;
  font-family: Crimson Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk {
  box-sizing: border-box;
  padding: 5.7rem 15.8rem 25.5rem 9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-deyy-BuA {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-deyy-BuA .choose-brands-7np {
  margin-right: 2.1rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1125;
  color: #9e6062;
  font-family: Crimson Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-deyy-BuA .rectangle-17-enk {
  margin-top: 0.2rem;
  width: 175.2rem;
  height: 8.6rem;
  background-color: #9e6062;
  border-radius: 3rem;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS {
  margin: 0rem 0rem 13rem 24.1rem;
  box-sizing: border-box;
  padding: 0rem 1.5rem 1.9rem 2.3rem;
  width: 175.2rem;
  background-color: #e19dac;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS .auto-group-2fis-G3S {
  margin-bottom: 0.7rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS .auto-group-2fis-G3S .auto-group-znyh-zVE {
  margin: 0rem 2rem 1.1rem 0rem;
  width: 167.5rem;
  height: 10.3rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS .auto-group-2fis-G3S .auto-group-znyh-zVE .line-1-6oA {
  width: 163.9rem;
  height: 0.1rem;
  position: absolute;
  left: 3.6rem;
  top: 9.8rem;
  background-color: #ffffff;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS .auto-group-2fis-G3S .auto-group-znyh-zVE .uniqlo-cWc {
  width: 18.1rem;
  height: 5.6rem;
  position: absolute;
  left: 11.3rem;
  top: 2.4rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1125;
  color: #ffffff;
  font-family: Crimson Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS .auto-group-2fis-G3S .auto-group-znyh-zVE .ecb98fa32ae670f64e70c784a56f3-1-VKW {
  width: 13.5rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS .auto-group-2fis-G3S .rectangle-20-cuv {
  width: 1.9rem;
  height: 9.9rem;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-kmhu-xoS .no-more-brands-xit {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1125;
  color: #ffffff;
  font-family: Crimson Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-rsom-J24 {
  margin: 0rem 33.2rem 14.4rem 15.2rem;
  width: calc(100% - 48.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-rsom-J24 .rectangle-24-mwE {
  margin: 3.1rem 75.7rem 0rem 0rem;
  width: 37.6rem;
  height: 29.7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-rsom-J24 .rectangle-25-7VJ {
  margin-bottom: 3.1rem;
  width: 37.6rem;
  height: 29.7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-5bw3-2sA {
  margin: 0rem 75.8rem 65.9rem 15.2rem;
  width: calc(100% - 91rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-5bw3-2sA .rectangle-27-YqW {
  margin-right: 33.1rem;
  width: 37.6rem;
  height: 29.7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-5bw3-2sA .rectangle-28-6s2 {
  width: 37.6rem;
  height: 29.7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.macbook-air-17-mYc .auto-group-8ejd-4Jk .auto-group-vvtd-TSg {
  margin: 0rem 58.6rem 0rem 68.6rem;
  width: calc(100% - 127.2rem);
  height: 10.4rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e19dac;
  border-radius: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-RWx.png');
  flex-shrink: 0;
}
